<ion-content>
  <button (click)="goBack()" class="back-button">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </button>
  <div class="terms-container">
    <h1>Términos y Condiciones de Uso de GymApp</h1>
    <p><strong>Última actualización:</strong> [29/10/24]</p>
    
    <p>Bienvenido a GymApp. Al acceder o utilizar nuestra aplicación, aceptas cumplir y estar sujeto a los siguientes términos y condiciones. Si no estás de acuerdo con estos términos, no debes utilizar la aplicación.</p>
    
    <h2>1. Aceptación de los Términos</h2>
    <p>Al usar GymApp, aceptas estos Términos y Condiciones en su totalidad. Si no estás de acuerdo con alguna parte de estos términos, debes dejar de usar la aplicación de inmediato.</p>
    
    <h2>2. Descripción del Servicio</h2>
    <p>GymApp es una aplicación que permite a los usuarios gestionar sus rutinas de ejercicios, acceder a múltiples gimnasios y realizar pagos de membresías. La disponibilidad de ciertos servicios puede variar según la ubicación.</p>
    
    <h2>3. Registro de Usuario</h2>
    <p>Para acceder a ciertas funcionalidades de GymApp, es posible que debas registrarte y crear una cuenta. Eres responsable de mantener la confidencialidad de tu información de inicio de sesión y de cualquier actividad que ocurra en tu cuenta. Debes notificar inmediatamente a GymApp sobre cualquier uso no autorizado de tu cuenta.</p>
    
    <h2>4. Uso de la Aplicación</h2>
    <p>Te comprometes a usar GymApp solo para fines legales y de acuerdo con estos términos. Aceptas no:</p>
    <ul>
      <li>Utilizar la aplicación de manera que cause daño, interrupción o acceso no autorizado a la aplicación o a los sistemas de terceros.</li>
      <li>Transmitir virus u otro código dañino.</li>
      <li>Utilizar la aplicación para acosar, abusar o discriminar a otros.</li>
    </ul>
    
    <h2>5. Propiedad Intelectual</h2>
    <p>Todo el contenido de GymApp, incluidos textos, gráficos, logotipos, imágenes y software, es propiedad de GymApp o de sus licenciantes y está protegido por leyes de propiedad intelectual. No se permite la reproducción, distribución o modificación de este contenido sin el consentimiento previo por escrito de GymApp.</p>
    
    <h2>6. Limitación de Responsabilidad</h2>
    <p>GymApp no será responsable por daños indirectos, incidentales, especiales o consecuentes que surjan de tu uso de la aplicación. El uso de GymApp es bajo tu propio riesgo.</p>
    
    <h2>7. Modificaciones a los Términos</h2>
    <p>GymApp se reserva el derecho de modificar estos Términos y Condiciones en cualquier momento. Cualquier cambio se publicará en esta página. Es tu responsabilidad revisar periódicamente los términos para estar al tanto de cualquier cambio. El uso continuado de la aplicación después de la publicación de cambios implica tu aceptación de los nuevos términos.</p>
    
    <h2>8. Ley Aplicable</h2>
    <p>Estos Términos y Condiciones se rigen por las leyes de los Estados Unidos Mexicanos. Cualquier disputa que surja en relación con estos términos se resolverá en los tribunales competentes.</p>
    
    <h2>9. Contacto</h2>
    <p>Si tienes preguntas sobre estos Términos y Condiciones, por favor contáctanos a través de GymApp&#64;outlook.com.</p>
  </div>
</ion-content>
