<ion-content class="ion-padding-top ion-text-center">
  <button (click)="goBack()" class="back-button">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </button>
  <h1 class="title-left">Membresía</h1>
  <p>Selecciona tu plan</p>

  <swiper-container class="custom-swiper">
    <swiper-slide *ngFor="let plan of planes">
      <div class="slide-content">
        <img [src]="plan.image" alt="Imagen de Plan" class="background-image">
        <div class="overlay">
          <h2><strong>{{ plan.name }}</strong></h2>
          <h2 class="slide-title">{{ plan.duration }}</h2>
          <ul class="slide-list">
            <li class="slide-item">{{ plan.price }} MXN un solo pago</li>
            <li class="slide-item">{{ plan.gyms }} Gimnasio Principal</li>
            <li class="slide-item">{{ plan.additionalGyms }} Gimnasios Adicionales</li>
            <li class="slide-item">{{ plan.tokens }} tokens</li>
          </ul>
          <ion-button class="contract-button" (click)="selectPlan(plan)">
            Contratar
          </ion-button>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>

  <!-- Contenedor del botón PayPal (solo aparecerá cuando se seleccione un plan) -->
  <div id="paypal-button-container"></div>
</ion-content>
