.ColorVerde {
  background-color: #71A71A; /* Color de fondo verde */
  color: #000000; /* Color del texto negro */
  --background: #71A71A; /* Asegúrate de que el fondo se aplique correctamente */
  --color: #000000; /* Color del texto */
}

/* Para un efecto hover si lo deseas */
.ColorVerde:hover {
  background-color: #5b9b5b; /* Color un poco más oscuro al pasar el ratón */
}

ion-card {
  margin-top: 70px; /* Ajusta el espacio encima del card */
  background-color: #ffffff; /* Fondo blanco para el card */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil para un efecto de profundidad */
}