<ion-content class="container">
  <button (click)="goBack()" class="back-button">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </button>
  
  <div class="header">
    <h1 class="title-left"><strong>Marca tu meta</strong></h1>
    <h4>Define tus objetivos</h4>
  </div>

  <h3><strong>¿Cuántas sesiones al mes?</strong></h3>
  <div class="input-container">
    <ion-input 
      class="weight-input" 
      type="number" 
      [(ngModel)]="rutinasMes" 
      required>
    </ion-input>
  </div>

  <h3><strong>¿Cuántas sesiones a la semana?</strong></h3>
  <div class="input-container">
    <ion-input 
      class="weight-input" 
      type="number" 
      [(ngModel)]="rutinasSemana" 
      required>
    </ion-input>
  </div>

  <div class="button-container">
    <ion-button 
      class="ColorVerde custom-button" 
      [disabled]="!rutinasMes || !rutinasSemana" 
      (click)="saveGoals()">
      <strong>Siguiente</strong>
    </ion-button>
  </div>
</ion-content>
