<ion-content class="container">
  <div class="header">
    <h1 class="title-left"><strong>¿Cuánto mides?</strong></h1>
    <h4>Ingresa tu altura</h4>
  </div>

  <div class="input-container">
    <ion-input class="weight-input" type="number" placeholder="Altura" required></ion-input>
    <span class="kg-label">Cm</span>
  </div>

  <div class="button-container">
    <ion-button class="ColorVerde custom-button">
      <strong routerLink="/main/metas">Siguiente</strong>
    </ion-button>
  </div>
</ion-content>
