<ion-content class="container">

  <button (click)="goBack()" class="back-button">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </button>
  
  <div class="header">
    <h1 class="title-left"><strong>¿Cuánto mides?</strong></h1>
    <h4>Ingresa tu altura</h4>
  </div>

  <div class="input-container">
    <ion-input 
      class="weight-input" 
      type="number" 
      placeholder="Altura" 
      [(ngModel)]="altura" 
      required>
    </ion-input>
    <span class="kg-label">Cm</span>
  </div>

  <div class="button-container">
    <ion-button 
      class="ColorVerde custom-button" 
      [disabled]="!altura" 
      (click)="saveHeight()">
      <strong>Siguiente</strong>
    </ion-button>
  </div>
</ion-content>
