ion-item {
  margin: 10px 15px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px; /* Aumenta el padding */
}

ion-label {
  text-align: left;
  font-size: 18px; /* Ajusta el tamaño según sea necesario */
  color: black; /* Asegúrate de que el color sea visible */
}
