<ion-content class="ion-padding-top ion-text-center">
  <h1>Hola {{ user().name }}</h1>

  <ion-item>
    <div class="circle-container">
      <div class="donut-chart" [ngStyle]="{'--percentage': percentageMes + '%'}"></div>
      <span class="percentage-text">{{ percentageMes | number: '1.0-0' }}%</span>
    </div>

    <div class="routine-info">
      <div class="routine-item">Este mes: Rutinas {{ rutinasCompletadas }} / {{ rutinasMes }}</div>
      <div class="routine-item">Esta semana: Rutinas {{ rutinasCompletadas }} / {{ rutinasSemana }}</div>
    </div>
  </ion-item>

  <ion-item>
    <div class="qr-container">
      <ion-label><strong>Tu código QR</strong></ion-label>
      <!-- Usar ion-img en lugar de img para manejar mejor las imágenes en Ionic -->
      <ion-img *ngIf="user().qr" [src]="user().qr" alt="Código QR"></ion-img>
    </div>
  </ion-item>
</ion-content>
