<ion-content class="ion-padding-top ion-text-center">

  <h1>Clases</h1>

  <ion-tabs>
    <ion-tab-bar slot="Inicio">
      <ion-tab-button routerLink="/main/home" >
        <ion-icon name="home"></ion-icon>
        Inicio
      </ion-tab-button>
      <ion-tab-button  routerLink="/main/classlist" >
        <ion-icon  name="barbell"></ion-icon>
        Rutinas
      </ion-tab-button>
      <ion-tab-button routerLink="/main/payment" >
        <ion-icon  name="reader"></ion-icon>
        Plan
      </ion-tab-button>
      <ion-tab-button routerLink="/main/profile">
        <ion-icon  name="person"></ion-icon>
        Perfil
      </ion-tab-button>
    </ion-tab-bar>
  
  
  </ion-tabs>
  
  </ion-content>