<ion-content class="ion-padding-top ion-text-center">
  <h1 class="title-left"><strong>Rutinas</strong></h1>

  <!-- CALENDARIO SEMANAL -->
  <div class="calendar-container">
    <!-- Encabezado con los nombres de los días -->
    <div class="calendar-header">
      <div class="calendar-day-name" *ngFor="let day of weekDays">
        {{ day.label.toUpperCase() }}
      </div>
    </div>
  
    
    <!-- Cuerpo del calendario con los números y rutinas -->
    <div class="calendar-body">
      <div class="calendar-day" *ngFor="let day of weekDays; let i = index">
        <div class="day-content">
          <div class="day-number">{{ day.date | date: 'd' }}</div>
  
          <!-- Mostrar el círculo con letra si aplica -->
          <ng-container *ngIf="getRoutineLetter(i) !== '-'">
            <div class="routine-circle">
              <strong>{{ getRoutineLetter(i) }}</strong>
            </div>
          </ng-container>
  
          <!-- Mostrar solo un guion si no hay rutina -->
          <ng-container *ngIf="getRoutineLetter(i) === '-'">
            <span class="dash">-</span>
          </ng-container>
        </div>
      </div>
    </div>
  </div>

  <div class="space-between"></div>

  <!-- LISTA DE RUTINAS -->
  <ion-list>
    <ion-item-sliding class="rutina-item" *ngFor="let r of Rutinas; let i = index">
      <ion-item>
        <ion-label (click)="addUpdateRutinas(r)" class="ion-text-start">
          <div class="name">
            <span class="alphabet-label">{{ getAlphabetLetter(i) }}</span>
            {{ r.name }}
          </div>
        </ion-label>
        <ion-checkbox slot="end" [(ngModel)]="r.checked" (ionChange)="onCheckboxChange(r)"></ion-checkbox>
      </ion-item>

      <ion-item-options>
        <ion-item-option (click)="addUpdateRutinas(r)">
          <ion-icon class="option-btn" name="create-outline"></ion-icon>
        </ion-item-option>
        <ion-item-option (click)="deleteRutina(r)" color="danger">
          <ion-icon class="option-btn" name="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="custom-fab">
    <ion-fab-button (click)="addUpdateRutinas()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
