.white-text {
    color: #ffffff;
  }
  
  .black-background {
    --background: #121212;
  }

  .gray-background {
    --background: #212121;
  }

  ion-progress-bar {
    --background: #121212;
    --progress-background: #09c567;
  }

  .custom-fab {
    transform: translate(-10px, -60px); /* X: -10px (izquierda), Y: -60px (arriba) */
  }
  
  .alphabet-label {
    margin-right: 24px;
    font-weight: bold;
    //color: #D5FF5F; /* Verde, puedes cambiarlo por el color que prefieras */
    font-size: 1.2em; /* Opcional: Ajusta el tamaño */
  }

  ion-checkbox::part(container) {
    border-radius: 4px;
    border: 2px solid #000000;
  }
  
  ion-checkbox {
    margin-left: 8px; /* Ajusta el espacio entre el nombre y el checkbox */
    --size: 20px; /* Ajusta el tamaño del checkbox */
  }
  
  
  