<ion-header [translucent]="true"></ion-header>

<br>
<br>
<br>

<ion-content [fullscreen]="true" class="black-background">
  <ion-header collapse="condense">
      <ion-title size="large" class="white-text">Clases</ion-title>
  </ion-header>


  <ion-tabs>
    <ion-tab-bar slot="Inicio">
      <ion-tab-button >
        <ion-icon routerLink="/home" name="home"></ion-icon>
        Inicio
      </ion-tab-button>
      <ion-tab-button >
        <ion-icon routerLink="/classlist" name="barbell"></ion-icon>
        Rutinas
      </ion-tab-button>
      <ion-tab-button  >
        <ion-icon routerLink="/payment" name="reader"></ion-icon>
        Plan
      </ion-tab-button>
      <ion-tab-button >
        <ion-icon routerLink="/profile" name="person"></ion-icon>
        Perfil
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  
</ion-content>


