.container {
  background-color: #1a1a1a;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  text-align: center;
}

.title-left {
  text-align: center;
  margin-top: 80px;
  font-size: 2.5em;
  font-weight: bold;
  color: #71A71A;
}

.gender-selection {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  margin-top: 40px;
}

.gender-button {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background-color: #FFFFFF;
  color: #71A71A;
  border: 2px solid black;
  transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

.gender-button ion-icon {
  font-size: 80px;
  margin-bottom: 15px;
}

.gender-button.selected {
  background-color: #71A71A;
  color: white;
  transform: scale(1.1); /* Aumenta ligeramente el tamaño */
}

.gender-button.selected ion-icon {
  color: black;
}

.custom-button {
  --background: #71A71A;
  --border-radius: 30px;
  --padding-start: 86px;
  --padding-end: 86px;
  --padding-top: 16px;
  --padding-bottom: 16px;
  font-size: 18px !important;
  color: white;
  text-transform: none;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 30px;
}
