.white-text {
    color: #ffffff;
  }
  
  .black-background {
    --background: #121212;
  }

  .gray-background {
    --background: #212121;
  }

  ion-progress-bar {
    --background: #121212;
    --progress-background: #09c567;
  }