<ion-header [translucent]="true"></ion-header>

<br>
<br>
<br>

<ion-content [fullscreen]="true" class="black-background">
  <ion-header collapse="condense">
    <ion-toolbar class="black-background" >
      <ion-title size="large" class="white-text">Tu Perfil</ion-title>
    </ion-toolbar>
  </ion-header>

  

  

  <ion-tabs>
    <ion-tab-bar slot="Inicio">
      <ion-tab-button routerLink="/main/home" >
        <ion-icon name="home"></ion-icon>
        Inicio
      </ion-tab-button>
      <ion-tab-button  routerLink="/main/classlist" >
        <ion-icon  name="barbell"></ion-icon>
        Rutinas
      </ion-tab-button>
      <ion-tab-button routerLink="/main/payment" >
        <ion-icon  name="reader"></ion-icon>
        Plan
      </ion-tab-button>
      <ion-tab-button routerLink="/main/profile">
        <ion-icon  name="person"></ion-icon>
        Perfil
      </ion-tab-button>
    </ion-tab-bar>

    <ion-button (click)="signOut()">
      Click me
    </ion-button>
  </ion-tabs>
  
</ion-content>


