<ion-content class="ion-padding-top ion-text-center" [ngClass]="{'logout-animation': isLoggingOut}">

  <ion-avatar>
    <img *ngIf="user()?.image" [src]="user()?.image" />
    <ion-icon *ngIf="!user()?.image" class="empty-icon" name="person-circle-outline"></ion-icon>
  </ion-avatar>


  <div class="camera-circle" (click)="takeImage()">
    <ion-icon name="camera-outline"></ion-icon>
  </div>

  <h2>{{user().name}}</h2>


  <ion-item button detail routerLink="/main/datos">
    <ion-icon routerLink="/main/datos" class="items" color="primary" slot="start" name="person-outline"></ion-icon>
    <ion-label routerLink="/main/datos">Datos Personales</ion-label>
  </ion-item>

  <ion-item button detail routerLink="/main/payment">
    <ion-icon routerLink="/main/payment" class="items" color="primary" slot="start" name="cash-outline"></ion-icon>
    <ion-label routerLink="/main/payment">Metodos de Pago</ion-label>
  </ion-item>


  <ion-item button detail routerLink="/main/settings" >
    <ion-icon  routerLink="/main/settings" class="items" color="primary" slot="start" name="book-outline"></ion-icon>
    <ion-label routerLink="/main/settings" >Terminos y Condiciones</ion-label>
  </ion-item>

  <ion-item (click)="signOut()" [ngClass]="{'logout-animation': isLoggingOut}">
    <ion-icon class="items" color="primary" slot="start" name="exit-outline"></ion-icon>
    <ion-label>Cerrar Sesion</ion-label>
  </ion-item>
  

</ion-content>
