.boton-container {
  /* Eliminamos position absolute para que el contenido se ajuste correctamente */
  margin: 16px 0; /* Ajusta el margen superior e inferior según sea necesario */
  display: flex;
  justify-content: center;
}

.custom-fab {
  position: fixed;  /* Esto hace que el botón sea flotante y se quede fijo */
  bottom: 16px;  /* Ajusta la posición desde el fondo de la pantalla */
  right: 16px;  /* Ajusta la posición desde la derecha */
  z-index: 1000;  /* Asegura que el botón quede encima de otros elementos */
  transform: translate(-10px, -80px); /* Mantén el ajuste de la posición si es necesario */
}

ion-checkbox {
  --size: 24px;
  --checkbox-background-checked: #71A71A;
}

ion-checkbox::part(container) {
  border-radius: 4px;
  border: 2px solid #000000;
}

.custom-datetime {
  --padding-top: 0.5rem; /* Espaciado superior */
  --padding-bottom: 0.5rem; /* Espaciado inferior */
  --min-width: 150px; /* Ancho mínimo */
  --max-width: 250px; /* Ancho máximo */
  --border-radius: 8px; /* Esquinas redondeadas */
  font-size: 14px; /* Tamaño de la fuente */
}

ion-item {
  margin: 10px 15px; /* Ajusta el margen superior e inferior y lateral */
  border-radius: 10px; /* Bordes redondeados */
  background-color: white; /* Color de fondo opcional */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra opcional */
  padding: 5px; /* Aumenta el padding para hacer los items más grandes */
}

ion-list {
  background-color: transparent; /* Quitar el fondo blanco */
}



// Estilos para el encabezado
.modal-title {
  font-weight: bold;
  font-size: 1.2rem;
}

// Asegura que el ion-datetime esté centrado
.datetime-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #F5ECEC;
  border-radius: 0 0 20px 20px;
}

ion-datetime {
  --width: 100%;
  max-width: 320px; /* Ajustar si es necesario */
  --margin: 0 auto;
}

.no-custom-input-styles {

  // Resetea todos los estilos para app-custom-input en esta página
  app-custom-input {
    all: unset;
    display: block; // Asegúrate de mantener el layout
  }

  // También puedes forzar algunos estilos por defecto si es necesario
  app-custom-input * {
    all: unset;
  }
}

