.boton-container {
    position: absolute;
    bottom: 16px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    
  }
  
  .custom-fab {
    transform: translate(-10px, -80px); /* X: -10px (izquierda), Y: -60px (arriba) */
  }